.visiting {

}

.visiting-title {
 margin-top: 75px;
 margin-bottom: 27px;
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
letter-spacing: 5px;
text-transform: uppercase;

color: #9D8665;
}
.visiting-line {
 margin-bottom: 75px;
    max-width: 1440px;
height: 3px;
background: #710707;
border-radius: 0px;
}
.visiting__wrapper {
  display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}
.visiting__card {
  width: 440px;
height: 422px;
margin-bottom: 75px;

}
.visiting__card-img {
  width: 440px;
height: 285px;
}
.visiting__card-title {
  margin-top: 25px;
  margin-bottom: 9px;
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 35px;
letter-spacing: 5px;
text-transform: uppercase;

color: #000000;

}
.visiting__card-line {
  position: relative
}
.visiting__card-line::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #710707;
}

.visiting__card .visiting__card-line::after {
  width: 300px;
  height: 2px;
  bottom: -7px;
  transition: width .4s;
}

.visiting__card:hover .visiting__card-line::after {
  width: 100%;
}


// .visiting__card-line{
//   width: 300px;
// height: 2px;
// background: #710707;
// border-radius: 0px;
// }
.visiting__card-title-h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
color: #000000;

}
.visiting__card-text {
  font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 21px;
color: #000000;

}